#app{
    .topbar{
        background-color: $brown;
        padding: 20px;

        .title{
            font-size: 25px;
            color: $greenlight;

            img{
                margin: 0px 10px 0px 10px;
            }
        }
        
        #navbarDropdown{
            color: #ffffff;
            font-size: 17px;
            text-decoration: none;
            margin: 0px 20px 0px 5px;
        }
        #navbarDropdown:hover{
            color: $greenlight;
        }
        .dropdown-menu{
            z-index: 200;
        }
    }
    body .py-4{
        padding: 0%;
        margin: 0%;
        width: 100;
    }
}