.container-details{
    background-image: url('../../resources/img/brenda-godinez-AAHdL8gp5b8-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;

    .bgc-white{
        padding: 20px;
        img{
            width: 500px;
            height: auto;
        }
        p{
            padding: 0%;
            margin: 0%;
        }
    }
}