footer{
    background-color: #1C1C1C;
    color: white;
    padding: 20px;

    h2{
        font-size: 35px;
        margin-bottom: 20px;
    }

    p{
        margin: 0%;
    }
    img{
        margin: 20px;
    }
}