
.card-login-register {
    border-radius: 19px;
}
.card-body-login-register{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    .left-card {
        width: 40%;
        height: auto;
        background-image: url('../../resources/img/600.png');
        background-position: center;
        background-size: cover;
        opacity: 0.5;
    }
    
    .right-card {
        width: 60%;
        padding: 40px;
    }

    .btn-primary {
        border: 2px solid green;
        background: none;
        color: green;
        width: 90%;
       
        border-radius: 18px;
        &:hover {
        border: 2px solid green;
        background: green;
        color: white;
        width: 90%;
        border-radius: 18px;
        }
    }

    .form-control {
        width: 100%;
    }

    .link-choco {
        color: green;
        font-size: 20px;
    }

    .password-request {
        margin-top: 30px;
    }
}