// Responsive desktop
@media screen and (min-width: 640px) {
    .flex-desktop{
        display: flex;
        justify-content: center;
    }
    .intro{

        h1{
            font-size: 60px;
        }

        h2{
            font-size: 2.5rem;
        }
        h3{
            margin: 1.5rem 0rem 1.5rem 0rem;
            font-size: 40px;
        }
    }

    .container-card{
        min-height: 350px;
    }

    .cacaoseed-container{
        display: flex;
        flex-wrap: wrap;

        .cacaoseed-content{
            padding: 20px;
            width: 50%;
        }

        .cacaoseed{
            background-image: url('../../resources/img/larry-garcia-pezo-5g_ZqW2oOlI-unsplash.png');
            background-size: cover;
            background-position: center;   
            background-repeat: no-repeat;
            width: 50%;
            height: 420px;
        }
    }

    .brown-container{
        padding: 0px 500px 50px 500px;

        h1 {
            line-height: 130px;
        }
    }

    .brown-container2{
        padding: 20px 100px 20px 100px;
    }

    .card{
        margin: 0px 50px 50px 50px;
    }
}


// Resposive mobile
@media screen and (max-width:375px){

    .cacaoseed-container{
        display: flex;
        flex-wrap: wrap;
        
        .cacaoseed-content{
            padding: 20px;
            width: 100%
        }

        .cacaoseed{
            background-image: url('../../resources/img/larry-garcia-pezo-5g_ZqW2oOlI-unsplash.png');
            background-size: cover;
            background-position: center;   
            background-repeat: no-repeat;
            width: 100%;
            height: 420px;
        }
    }

    .cacaoseed-container2{
        display: flex;
        flex-direction: column-reverse;
    }

    .brown-container2{
        text-align: center!important;
    }

    footer{
        h2{
            font-size: 30px;
        }
    }

    .brown-container{
        padding: 5% 15% 5% 15%;
    }

    .services-container{
        
        h1{
            font-size: 25px;
        }

        i{
            font-size: 40px;
        }
    }

    .brown-container2{
        padding: 20px;
    }

    .none-mobile{
        display: none;
    }
}